html{
    font-family:sans-serif;
    color:blue;
}

.todo{
    font-weight:bold;
    color:#F44336;
    background-color:#191970;
    border-radius:50px;
    font-size:14px;
    padding:5px 10px 5px 10px;
}

#submit-button:active{
    box-shadow:1px 1px 1px #90A4AE;
    font-size:14px;
}

li{
    padding:5px;
    margin-bottom:10px;
}
ul{
    background: url(http://www.trbimg.com/img-57bdb439/turbine/sdut-chargers-ladainian-tomlinson-hall-of-fame-2015jun10);
}