h1{
  background-color:#ffffff;
  display:inline-block;
  height:71px;
  vertical-align:middle;
  font-size:32px;
  margin:20px;
}

.showbody{
  background: url(http://goldwallpapers.com/uploads/posts/michael-vick-wallpaper/michael_vick_wallpaper_004.jpg);
  background-size: cover
}